:root { 
--gray_700:#5c7952; 
--gray_500:#acacac; 
--gray_901:#292929; 
--lime_800:#7eb412; 
--gray_900:#263322; 
--green_800:#22812b; 
--gray_300:#e2e2e2; 
--bluegray_900:#33452d; 
--light_green_800:#648e12; 
--red_A400:#ff003d; 
--black_900_19:#00000019; 
--deep_purple_A200:#9747ff; 
--white_A700:#ffffff; 
}